/* custom properties */
:root {
--bg-sedan: hsl(31, 77%, 52%);
--bg-suv: hsl(184, 100%, 22%);
--bg-luxury: hsl(179, 100%, 13%);

--ff-normal: 'Lexend Deca';
--ff-name: 'Big Shoulders Display';

--fw-low: 400;
--fw-mid: 700;
}


/* reset */
*, 
*::before,
*::after {
    box-sizing: border-box;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
/* utility classes */
.flow-content > * + * {
    margin: var(--space, 1.5rem) 0 0 0;
}



.container {
    padding: 5rem 1.5rem;
    max-width: 40rem;
    margin: 0 auto;
}

.inner {
    padding: 4rem;
}

.uppercase {
    color: hsl(0, 0%, 94%);
    text-transform: uppercase;
    font-family:var(--ff-name);
    font-weight: var(--fw-mid);
}


/* general styling */

body {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0;   
    font-family: var(--ff-normal);
    font-weight: var(--fw-low);
    font-size: 15px;
    line-height: 1.8;
}

a {
    color: var(--clr, #000);
    background: #fff;
    padding: .75rem 2rem;
    border-radius: 100vw;
    display: inline-block;
    text-decoration: none;
}

a:hover,
a:focus {
    border: 2px solid white;
    padding: .625rem 1.9375rem;
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.sedan {
    --clr: var(--bg-sedan);

    border-radius: 2vw 2vw 0 0;
    background: red;
}

.suv {
    --clr:var(--bg-suv);
    background: var(--bg-suv);
}

.luxury {
    --clr:var(--bg-luxury);

    border-radius: 0 0 2vw 2vw;
    background:var(--bg-luxury);
}

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 56rem) {
    .container {
        flex-direction: row;
        margin: 0 auto;
        max-width: 70rem;
    }

    .sedan {
        border-radius: 1vw 0 0 1vw;
    }

    .luxury {
        border-radius: 0 1vw 1vw 0;
    }

    .uppercase {
        font-size: 4rem;
    }

    a {
        --space: 5rem;
    }

}